<h1>Login</h1>

<form class="form" [formGroup]="loginForm" id="loginForm"
name="loginForm" (ngSubmit)="doLogin()" novalidate autocomplete="off">

    <div>
        <input id="username" name="username" type="text" formControlName="username"
        required autocomplete="false" maxlength="12">
    </div>

    <div>
        <input id="password" name="password" type="password" formControlName="password"
        required autocomplete="false" maxlength="12">
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

</form>
